# Apple ignores
.DS_Store
.AppleDouble
.LSOverride
._*

# build ignores
firmware/SAOwner/Build/*
!firmware/SAOwner/Build/Makefile
!firmware/SAOwner/Build/makedep.mk

# jlink ignores
firmware/SAOwner/jlink.*

# vscode ignores
.vscode